@font-face {
  font-family: 'bnazanin';
  src: url('../public/font/B-NAZANIN.TTF');
}
.font-b{
  font-family:'bnazanin' ;
}

@font-face {
  font-family: 'laleh';
  src: url('../public/font/Lalezar-Regular.ttf');
}
.font-l{
  font-family:'laleh' ;
}

.animate-modal{
  animation: modal 0.8s forwards;
}

@keyframes modal {
  0%{
    opacity: 0;
  }50%{
    opacity: 100%;
  }
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 999px;
}

html,
body,
#root {
  min-height: 100%;
  background: #09090b;
}